div{
	/*border-radius: 25px;*/
    border: 0px solid #000000;
    padding: 10px;
    background-color: #2196f359 !important;
    color: white !important;
    padding-bottom: 0px !important;
    padding-top: 19px !important;
}
input{
    background-color: azure !important;
}
.divlast{
        margin-bottom: 46px;
}
body{font-variant: small-caps !important;

}
.row{
    
}
button{
    background-color: white !important;
    font-size: 15pt;
    width: 100%;
    padding-left: 10%;
    text-align: center;
    background-color: white;
    color: black !important;
   /* border-radius: 25px;*/
    border: 2px solid dimgrey;
    padding: 20px;
    cursor: pointer;
    box-shadow: 3px 3px #00000073;
}


}
.form-group {
    margin-bottom: 1rem;
    background-color: #00000000 !important;
}
.noback{
    background-color: #00000000 !important;
}
.glass {
    position: fixed;
    opacity:.0;
    left: 0px;
    right: 0px;
    width: 100vw;
    height: 100vh;
    background: url(https://www.searchpng.com/wp-content/uploads/2018/12/cracked-Glass.png);
    background-size: cover;
    z-index: 9000;
    pointer-events: none;
}
.row{
	background-color: #f0f8ffb0;

}
.logo{
	margin-top: 30px;
	/*float:left;*/
	border-radius: 25px;
	background:url(../img/logo.png);
	background-size: 140px;
	height:125px;
	width:150px;
}
.texta {
    background-color: grey;
    min-height: 84%;
}
.button_c {
color: #494949 !important;
text-transform: uppercase;
text-decoration: none;
background: whitesmoke;
    height: 51px;
padding: 20px;
border: 4px solid #494949 !important;
display: inline-block;
transition: all 0.4s ease 0s;
}
body{
	background-color: white !important;
	/*background: url("../img/agua.jpg");*/
	background-size: cover;
}
a{
	color:black;
	font-size: 16px;
}
/*BOTONES*/
.button-p {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    background: url(../img/plus.png) no-repeat;
    background-size: cover;
}
.button-m {
    margin: 0 0 0 5px;
    text-indent: -9999px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    float: left;
    text-align: center;
    background: url(../img/minus.png) no-repeat;
    background-size: cover;
}

.matutino{
    background-color: #95ff884a;
}
.mediodia{
    background-color: #fdff884a;
}
.vespertino{
    background-color: #ff9e884a;
}